<div class="container mt-5 posRel">
    <h2 class="container mb-5">List of Episodes</h2>
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="col-sm-4" *ngFor="let episode of episodeList">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{episode.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{episode.episode}}</h6>
                    <p class="card-text">
                        Emited at: {{episode.air_date}} <br>
                        Characters in episode: {{episode.characters.length}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>