div.posRel {
  position: relative;
}

h2 {
  color: #CCCCCC;
}

div.col-sm-4 {
  div.card {
      cursor: pointer;
      margin: 15px 0;
  }
}

div.card:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
}