<div class="container mt-5 posRel">
    <h2 class="container mb-5">List of Characters</h2>
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
        <div class="col-sm-4" *ngFor="let character of characterList">
            <div class="card" [routerLink]="['/','character-detail',character.id]">
                <img src="{{character.image}}" class="card-img-top" alt="characters">
                <div class="card-body">
                    <h5 class="card-title">{{character.name}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>