/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
div.background-static {
    background-image: url(./assets/images/background.jpg);
    background-position: center center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
}